
<section class="testimoniales">
    <div class="testimoniales__contenedor">
        <h2 class="testimoniales__heading">Testimoniales</h2>

        <div class="testimoniales__grid">
            <div class="testimonial">
                <p class="testimonial__texto">Excelente app, muy sencillo de manejar y enviar dinero</p>
                <p class="testimonial__autor">- Juan De la torre</p>
            </div>

            <div class="testimonial">
                <p class="testimonial__texto">Excelente app, muy sencillo de manejar y enviar dinero</p>
                <p class="testimonial__autor">- Juan De la torre</p>
            </div>

            <div class="testimonial">
                <p class="testimonial__texto">Excelente app, muy sencillo de manejar y enviar dinero</p>
                <p class="testimonial__autor">- Juan De la torre</p>
            </div>

            <div class="testimonial">
                <p class="testimonial__texto">Excelente app, muy sencillo de manejar y enviar dinero</p>
                <p class="testimonial__autor">- Juan De la torre</p>
            </div>

            <div class="testimonial">
                <p class="testimonial__texto">Excelente app, muy sencillo de manejar y enviar dinero</p>
                <p class="testimonial__autor">- Juan De la torre</p>
            </div>

            <div class="testimonial">
                <p class="testimonial__texto">Excelente app, muy sencillo de manejar y enviar dinero</p>
                <p class="testimonial__autor">- Juan De la torre</p>
            </div>
        </div>
    </div>
</section>